* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    
}

main {
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.content {
    display: flex;
    margin: 150px;
      
}

h1 {
    font-family: 'Big Shoulders Display', cursive; 
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    position: absolute;
    margin-top: 30px;
    
    }

    p {
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        font-size: 15px; 
        color: hsla(0, 0%, 100%, 0.75);
        position: relative;
        margin-top: 100px;
        margin-right: 30px;
        }

        .top-content {
            background-color: hsl(31, 77%, 52%);
            padding: 5em;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            height: 60vh;
        }

        .mid-content {
            background-color:hsl(184, 100%, 22%);
            padding: 5em;
            height: 60vh;
        }

        .bottom-content {
            background-color: hsl(179, 100%, 13%);
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
            padding: 5em;
            height: 60vh;
        }

        .top {
            background-color: hsl(0, 0%, 95%);
            color: hsl(31, 77%, 52%);
            border-radius: 20px;
            font-size: 12px;
            font-weight: bold;
            width: 10%;
            height: 5vh;
            border: 0;
            position: absolute;
            bottom: 220px;
            padding: 5px 10px;
        }
        
        .mid {
            background-color: hsl(0, 0%, 95%);
            color:hsl(184, 100%, 22%);
            border-radius: 20px;
            font-size: 12px;
            font-weight: bold;
            width: 10%;
            height: 5vh;
            border: 0;
            position: absolute;
            bottom: 220px;
            padding: 5px 10px;
        }

        .bottom {
            background-color: hsl(0, 0%, 95%);
            color: hsl(179, 100%, 13%);
            border-radius: 20px;
            font-size: 12px;
            font-weight: bold;
            width: 10%;
            height: 5vh;
            border: 0;
            position: absolute;
            bottom: 220px;
            padding: 5px 10px;
        }

        .btn{
            width: 100px;
             padding: 9px 10px;
             display: inline-block;
             margin-bottom: 7px;
             border-radius: 10px;
             border: 1px solid rgb(255, 255, 255);
             background-color: rgb(10, 10, 233);
             color: beige;;
           }